In [1]:
import bs4
import requests
import pandas as pd

In [2]:
url='https://www.glassdoor.co.in/Job/india-data-scientist-jobs-SRCH_IL.0,5_IN115_KO6,20.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=data%2520scientist&typedLocation=India&context=Jobs&dropdown=0'

In [3]:
req=requests.get(url)

In [4]:
print(req)

<Response [200]>

In [5]:
glass=bs4.BeautifulSoup(req.text,'html.parser')

In [6]:
name=[]
nm=glass.find_all('div',{'class':'d-flex justify-content-between align-items-start'})
for i in range(len(sal)):
    name.append(nm[i].text)

NameError: name 'sal' is not defined

In [ ]:
len(name)

In [7]:
locn=[]
lc=glass.find_all('span',{'class':'css-1buaf54 pr-xxsm job-search-key-iii9i8 e1rrn5ka4'})
for i in range(len(sal)):
    locn.append(lc[i].text)

NameError: name 'sal' is not defined

In [8]:
len(locn)

0

In [9]:
ds=[]
desc= glass.find_all('a',{'class':'jobLink job-search-key-1rd3saf eigr9kq1'})
for i in range(len(sal)):
    ds.append(desc[i].text)

NameError: name 'sal' is not defined

In [10]:
len(ds)

0

In [11]:
res=[]
for i in glass.find_all('div',{'class':'jobDescriptionContent desc'}):
    res.append(i.get('br')[2].text)

In [12]:
len(res)

0

In [13]:
sal=[]
for i in glass.findAll('span',{'class':'job-search-key-1hbqxax e1wijj240'}):
    sal.append(i.text)

In [14]:
sal

['₹407,735 - ₹766,447 (Glassdoor Est.)',
 '₹416,489 - ₹814,860 (Glassdoor Est.)',
 '₹100,000 - ₹124,782 (Glassdoor Est.)',
 '₹1,000,000 - ₹1,200,000 (Employer Est.)',
 '₹699,524 - ₹917,953 (Glassdoor Est.)',
 '₹1,000,000 - ₹3,000,000 (Employer Est.)',
 '₹303,855 - ₹795,643 (Glassdoor Est.)',
 '₹475,544 - ₹732,299 (Glassdoor Est.)',
 '₹373,237 - ₹571,766 (Glassdoor Est.)',
 '₹958,424 - ₹1,034,400 (Glassdoor Est.)',
 '₹570,973 - ₹931,576 (Glassdoor Est.)',
 '₹736,371 - ₹917,826 (Glassdoor Est.)',
 '₹455,783 - ₹836,092 (Glassdoor Est.)',
 '₹1,000,000 - ₹2,500,000 (Employer Est.)',
 '₹650,783 - ₹757,495 (Glassdoor Est.)',
 '₹521,418 - ₹936,782 (Glassdoor Est.)',
 '₹540,096 - ₹733,844 (Glassdoor Est.)',
 '₹2,500,000 - ₹4,000,000 (Employer Est.)',
 '₹692,909 - ₹947,227 (Glassdoor Est.)',
 '₹1,800,000 - ₹2,500,000 (Employer Est.)',
 '₹847,374 - ₹921,091 (Glassdoor Est.)',
 '₹519,720 - ₹609,721 (Glassdoor Est.)',
 '₹288,027 - ₹637,223 (Glassdoor Est.)',
 '₹120,000 - ₹360,000 (Employer Est.)',
 '₹334,551 - ₹399,551 (Glassdoor Est.)',
 '₹1,500,000 - ₹3,000,000 (Employer Est.)',
 '₹519,720 - ₹609,721 (Glassdoor Est.)']

In [15]:
data={'Company Name':name,'Location':locn,'Salary Estimate':sal}

In [16]:
df=pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [17]:
df.head()

NameError: name 'df' is not defined

In [18]:
df.to_excel('glassdoor.xls',index=False)

NameError: name 'df' is not defined

In [19]:
salary=df['Salary Estimate'].apply(lambda x: x.split('(')[0])

NameError: name 'df' is not defined

In [20]:
salary

NameError: name 'salary' is not defined

In [21]:
sign=salary.apply(lambda x: x.replace('₹',''))

NameError: name 'salary' is not defined

In [22]:
sign

NameError: name 'sign' is not defined

In [175]:
df['min_salary']=sign.apply(lambda x: x.split('-')[0].strip())

In [176]:
df['min_salary']=df.min_salary.apply(lambda x: int(x.replace(',','')))

In [177]:
df['max_salary']=sign.apply(lambda x: x.split('-')[1].strip())

In [178]:
df['max_salary']=df.max_salary.apply(lambda x: int(x.replace(',','')))

In [179]:
df.head()

,Company Name,Location,Salary Estimate,min_salary,max_salary
0,Infosys Limited,Bangalore,"₹407,735 - ₹766,447 (Glassdoor Est.)",407735,766447
1,"ESRI, Inc.",New Delhi,"₹506,728 - ₹903,675 (Glassdoor Est.)",506728,903675
2,Wells Fargo,Bangalore,"₹528,491 - ₹674,975 (Glassdoor Est.)",528491,674975
3,The Alacer Group,India,"₹510,741 - ₹823,647 (Glassdoor Est.)",510741,823647
4,Exeevo,Remote,"₹514,971 - ₹811,483 (Glassdoor Est.)",514971,811483

In [180]:
df.min_salary.dtype

dtype('int64')

In [181]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [182]:
df.head()

,Company Name,Location,Salary Estimate,min_salary,max_salary,avg_salary
0,Infosys Limited,Bangalore,"₹407,735 - ₹766,447 (Glassdoor Est.)",407735,766447,587091.0
1,"ESRI, Inc.",New Delhi,"₹506,728 - ₹903,675 (Glassdoor Est.)",506728,903675,705201.5
2,Wells Fargo,Bangalore,"₹528,491 - ₹674,975 (Glassdoor Est.)",528491,674975,601733.0
3,The Alacer Group,India,"₹510,741 - ₹823,647 (Glassdoor Est.)",510741,823647,667194.0
4,Exeevo,Remote,"₹514,971 - ₹811,483 (Glassdoor Est.)",514971,811483,663227.0